.idea/
.vscode
.vs
bazel-*
.clwb
.cache
.ccls-cache
.bazelrc
test/test_files/test_list

test_temp/
build/

compile_commands.json

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
cmake-build-debug*/
cmake-build-release*/
test/unittest_temp_*

# macOS
.DS_Store

# Archive files
*.zip
*.tar.gz
scripts/pre-compiled-bins/headers
scripts/pre-compiled-bins/lib*
scripts/pre-compiled-bins/kuzu*

data/gist*
data/openai*

venv/
experiments/.idea/

data/arxiv*
data/random_768*

data/laion_small*
cmake-build-default*
